.FloatingHeader {
    width: 100%;
    height: 5vh;
    position: fixed;

    display: grid;
    grid-template-areas: "Left Right";
    grid-template-rows: 5fr 10fr;
    padding-top: 2vh;
    z-index: 10;

    --icon-size: 1.5rem;
}

.SocialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5rem;
}

.HeaderIcon {
    color: var(--accent);
    font-size: var(--icon-size);
}

a {
    grid-area: Right;
    color: var(--text-primary);
}

.StarIcon {
    grid-area: Left;
    padding-left: 0.5rem;
   
}

.StarIcon img {
    height: 2rem;
    color: var(--text-primary);
    transition: 0.7s;
}

.StarIcon img:hover {
    transition: 0.7s;
    transform: scale(1.2);
}

.Pages {
    grid-area: Left;
    margin: 0.2rem 0 0 3.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.Pages a {
    text-decoration: none;
    transition: 0.2s;
    opacity: 0.7;
}

.Pages a:hover {
    transition: 0.2s;
    opacity: 1;
}

@media (max-width: 650px) {

    .Pages {
        gap: 1.2rem;
    }

    .Pages a {
        font-size: 80%;
        transition: 0.4s;
    }

    .SocialMediaIcons {
        gap: 1rem;
    }

    .HeaderIcon {
        font-size: calc(var(--icon-size) * 0.9);
        margin-top: 0.2rem;
        transition: 0.4s;
    }
}