.FloatingHeader {
    width: 100%;
    height: 5vh;
    position: fixed;

    display: grid;
    grid-template-areas: "StarIcon SocialMedia";
    grid-template-rows: 1fr 10fr;
    padding-top: 2vh;
    z-index: 10;
}

.SocialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5rem;
}

.HeaderIcon {
    color: var(--accent);
    font-size: 1.5rem;
}

a {
    grid-area: SocialMedia;
    color: var(--text-primary);
}

.StarIcon {
    grid-area: StarIcon;
    padding-left: 0.5rem;
   
}

.StarIcon img {
    height: 2rem;
    color: var(--text-primary);
    transition: 0.7s;
}

.StarIcon img:hover {
    transition: 0.7s;
    transform: scale(1.2);
}
