.FloatingHeader {
    width: 100%;
    height: 6vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    background-color:  var(--background-secondary);
    padding-top: 1vh;
}

.HeaderIcon {
    color: var(--accent);
    font-size: 1.8rem;
}