.Header {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-color: black;
    padding-left: 10vw;
}


.Title {
    font-size: 22vh;
}

/* Title reflection */
.Title, .Title:before {
    display: block;
    margin: 0;
    padding: 0;
}

.Title:before, .Title:after {
    position: relative;
}

.Title:before {
    content: "EVADJ";
    top: 54vh;
    transform: scale(1, -1);
    backface-visibility: visible;
    z-index: 1;
}

.Title:after {
    content: '';
    display: block;
    top: -5vh;
    left: 0;
    width: 100%;
    height: 170px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1) 50%);
    z-index: 2;
}

/* Inifinity reflection */
.Header p, .Header p:before {
    display: block;
    margin: 0;
    padding: 0;
}

.Header p, .Header p:before, .Header p:after {
    position: relative;
}

.Header p:before {
    content: "∞";
    top: 4.5rem;
    transform: scale(1, -1);
    backface-visibility: visible;
    z-index: 1;
}

.Header p:after {
    content: '';
    display: block;
    top: -0.7rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1) 35%);
    z-index: 2;
}

.Header h2, .Header p {
    font-size: 2rem;
}

.Nav {
    position: relative;
    top: -105%;
    left: -11%;
    z-index: 2;
    padding-left: 0.3rem;
}

.CompactDiskimg {
    width: 48vw;
    position: relative;
    top: -88vh;
    left: 77%;
    transition: 1.2s;
}

.CompactDiskimg:hover {
    transition: 0.7s;
    rotate: 180deg;
}