.Music {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

    box-sizing: border-box;
    padding: 3rem 6rem;
}


.Music .hl {
    content: "";
    width: 85%;
    height: 4px;
    background-color: var(--text-primary);
    margin-top: 1%;
}

.Music h1 {
    margin: 0;
    line-height: 1;
}