.Music {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 3rem;
}

.OverlayBox {
    width: 100%;
    min-height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 0 20rem 0 5.2rem;
}

.Music h1 {
    margin: 0;
    line-height: 1;
    font-size: 5rem;
}

.SubTitle {
    margin: 2.5rem 0 0.5rem 0;
}

.Music h3 {
    margin: 0 0 0.5rem 1rem;
}

.Discography {
    display: flex;
    flex-direction: column;
    height: 20rem;
}

.SelectedSongs {
    display: flex;
    flex-direction: column;
    width: 42rem;
    gap: 1.2rem;
    z-index: 1;
}

.AudioPlayer {
    width: 15rem;
    height: 4rem;
    background-color: grey;
    position: absolute;
    margin: 75vh 0 0 35vw;
    z-index: 1;
}

@media (max-width: 750px) {

    .SelectedSongs {
        width: 80vw;
    }
}

.CompactDiskContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120vh;
    z-index: -10;
    top: -110%;
}

.Disc1, .Disc2 {
    height: 110%;
    rotate: -80deg;
}


@keyframes disc2spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

