.NavBar {
    width: 102vw;
    height: 5vh;
    background-color: rgba(70, 70, 70, 0.3);
}

.NavContainer {
    height: 100%;
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 11vw;
    transition: 0.5s;
    z-index: -5;
}

.NavBar:hover {
    background-color: rgba(70, 70, 70, 0.5);
    transition: 0.5s;
}

.NavContainer a {
    font-size: 1.1rem;
    opacity: 0.8;
    text-decoration: none;
    transition: 0.5s;
}

.NavContainer a:hover {
    transition: 0.5s;
    transform: scale(1.2);
    opacity: 1;
}