.NavBar {
    width: 100%;
    height: 6vh;
}

.NavContainer {
    height: 100%;
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw 0 11vw;
    z-index: -5;
    background-image: linear-gradient(to right, rgba(60, 60, 60, 0.4) 70%, rgba(0, 0, 0, 0));
}


.NavContainer a {
    font-size: 1.3rem;
    opacity: 0.8;
    text-decoration: none;
    transition: 0.3s;
}

.NavContainer a:hover {
    transition: 0.3s;
    transform: scale(1.2);
    opacity: 1;
}