.NavBar {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.NavItem {
    width: 22%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), var(--primary-container));
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar a {
    font-size: 1.4rem;
    text-decoration: none;
}