.SongComponent {
    background-image: linear-gradient(to left, grey, rgba(0, 0, 0, 0.4), grey);
    display: flex;
    flex-direction: row;
    height: 2.8rem;
    box-shadow: 2px 2px 30px 10px rgba(0, 0 , 0, 0.3);
}

.TextContainter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: left;
    margin: 0;
    padding-top: 0.7rem;
}

h3, p {
    margin-left: 0;
    margin-top : -0.6rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 0.9rem;
}

.PlayIcon {
    transition: transform 0.3s ease;
}

.PlayIcon:hover {
    transform: scale(1.2);
}

.AlbumCover {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--secondary-container);
}
